* {
  //border: 1px solid red !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #E6FFE6;
}

h1, h2, h3, h4, a, p, table {
  font-family: 'Lato', sans-serif;
  color: #006666;
  text-align: center;
}

ul li{
  font-family: 'Lato', sans-serif;
  color: #006666;
  font-size: 1em;
  text-align: left;
  //text-shadow: 1px 1px 64px #ce28d1;
}

.bolder li {
  font-size: 1.25em;
  list-style: none;
}

.bolder_bullets li {
  font-size: 1.25em;
}

p {
  padding-bottom: 18px;
}

h1 {
  font-size: 90px;
  font-weight: 100;
  margin-top: 25px;
  margin-bottom: 0px;
  text-shadow: 2px 2px 8px #006666;
}

h2 {
  font-size: 2em;
  font-weight: 100;
  font-style: italic;
  margin-top: 0;
  padding-top: 20px;
  text-shadow: 2px 2px 8px #006666;
}

h3 a {
  font-style: italic;
}

h2 a {
  text-shadow: 2px 2px 8px #006666;
  font-style: normal;
}

h4 a {
  text-decoration: none;
}

h4 a:hover {
  text-shadow: 2px 2px 8px #006666;
}

h2 a:hover {
  text-shadow: 2px 2px 8px #ce28d1;
}

table {
  margin-left:auto;
  margin-right:auto;
  text-shadow: 2px 2px 8px #ce28d1;
}

a {
  text-decoration: none;
  padding: 10px;
}

.blurb {
  max-width: 600px;
  margin: 0 auto;
}

.nav {
  text-align: center;
}

.nav a:hover {
  text-decoration: none;
  text-shadow: 2px 2px 8px #006666;
}

.visit_me  {
  padding-top: 20px;
}

.top_links a {
  font-size: 1.75em;
  margin-bottom: 10px;
}

#pic_me {
  display: block;
  max-width: 150px;
  margin-top: 45px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ce28d1;
  box-shadow: 2px 2px 48px #006666;
  border-radius: 50%
}

img {
  transition: width 2s, height 2s, transform 1s;
}
img:hover {
  transform: rotate(360deg);
}

.video_ruby_cli_gem {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

iframe {
  border: 1px solid #ce28d1;
  box-shadow: 2px 2px 48px #006666;
}
